.dia-dialogue__dialogue {
  white-space: pre-wrap;
}

.dia-dialogue__paragraph {
  display: block;
}

.dia-dialogue__text {
  display: inline-block;
}

.dia-dialogue__character {
  display: inline-block;
}

.dia-dialogue__character--space {
  display: inline-block;
}

.docs__paragraph {
  margin: 16px 0;
}

.docs__hi {
  color: cornflowerblue;
  font-weight: 700;
}
